*.csv
*.pdf
*.url
*.jpg
*.png
*.ipynb
examples/*
processing/*
input/*
output/*
tools/__pycache__/*
old_code/*
tesseract/*
poppler/*
build/*
dist/*
build_deps/*
logs/*
config/*
user_guide/*
cdk/*
cdk/config/*
web/*
tld/*
tmp/*
cdk.out/*
cdk.json
cdk.context.json