*.csv
*.pdf
*.url
*.jpg
*.png
*.ipynb
*.pyc
examples/*
processing/*
tools/__pycache__/*
old_code/*
tesseract/*
poppler/*
build/*
dist/*
docs/*
build_deps/*
user_guide/*
cdk/config/*
tld/*
cdk/config/*
cdk/cdk.out/*
cdk/archive/*
cdk.json
cdk.context.json
.quarto/*
logs/
output/
input/
feedback/
config/
usage/
