*.csv
*.pdf
*.url
*.jpg
*.png
*.ipynb
examples/*
processing/*
input/*
output/*
tools/__pycache__/*
old_code/*
tesseract/*
poppler/*
build/*
dist/*
build_deps/*
logs/*
config/*
doc_redaction_amplify_app/*
user_guide/*
cdk/*
web/*