*.url
*.ipynb
*.pyc
examples/*
processing/*
input/*
output/*
tools/__pycache__/*
old_code/*
tesseract/*
poppler/*
build/*
dist/*
build_deps/*
logs/*
usage/*
feedback/*
config/*
user_guide/*
cdk/config/*
cdk/cdk.out/*
cdk/archive/*
tld/*
tmp/*
docs/*
cdk.out/*
cdk.json
cdk.context.json
.quarto/*
/.quarto/
/_site/
test/config/*
test/feedback/*
test/input/*
test/logs/*
test/output/*
test/tmp/*
test/usage/*
.ruff_cache/*
model_cache/*
sanitized_file/*
src/doc_redaction.egg-info/*
