*.csv
*.pdf
*.url
*.jpg
*.png
*.ipynb
*.pyc
examples/*
processing/*
input/*
output/*
tools/__pycache__/*
old_code/*
tesseract/*
poppler/*
build/*
dist/*
build_deps/*
logs/*
config/*
doc_redaction_amplify_app/*
user_guide/*
cdk/config/*
cdk/cdk.out/*
cdk/archive/*
tld/*
tmp/*
cdk.out/*
cdk.json
cdk.context.json
.quarto/*
/.quarto/
/_site/
