pdfminer.six==20231228
pdf2image==1.17.0
opencv-python==4.9.0.80
presidio_analyzer==2.2.354
presidio_anonymizer==2.2.354
presidio-image-redactor==0.0.52
pikepdf==8.15.1
pandas==2.2.2
spacy # Not specified as latest versions create a conflict with latest versions of gradio
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1.tar.gz
gradio # Not specified as latest versions create a conflict with latest versions of spacy
boto3==1.34.103
faker
openpyxl
pyarrow
