pdfminer.six==20240706
pdf2image==1.17.0
pymupdf==1.25.3
opencv-python==4.10.0.84
presidio_analyzer==2.2.358
presidio_anonymizer==2.2.358
presidio-image-redactor==0.0.56
pikepdf==9.5.2
pandas==2.2.3
scikit-learn==1.6.1
spacy==3.8.4
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0.tar.gz
gradio==5.29.1
boto3==1.38.4
pyarrow==19.0.1
openpyxl==3.1.5
Faker==36.1.1
python-levenshtein==0.26.1
spaczz==0.6.1
# The following version 
https://github.com/seanpedrick-case/gradio_image_annotator/releases/download/v0.3.2/gradio_image_annotation-0.3.2-py3-none-any.whl # This version includes rotation, image zoom, and default labels, as well as the option to include id for annotation boxes
rapidfuzz==3.12.1
python-dotenv==1.0.1
numpy==1.26.4
awslambdaric==3.0.1



