# --- Core and data packages ---
numpy<=2.5.2
pandas<=3.0.5
bleach<=6.4.0
polars<=1.44.1
pyarrow<=25.0.1
openpyxl<=3.1.5
boto3<=1.43.81
python-dotenv<=1.2.3
defusedxml<=0.7.1
Faker<=40.37.0
python-levenshtein<=0.27.4
rapidfuzz<=3.14.5
markdown<=3.10.3
tabulate<=0.10.0

# --- Machine learning / NLP ---
scikit-learn<=1.9.0
spacy<=3.8.16
spaczz<=0.6.1

# --- PDF / OCR / Redaction tools ---
pdfminer.six<=20260107
pdf2image<=1.17.0
pymupdf<=1.28.2
pikepdf<=10.12.0
opencv-python<=5.0.0.93
presidio_analyzer<=2.2.364
presidio_anonymizer<=2.2.364
presidio-image-redactor<=0.0.57

# --- Gradio and apps ---
gradio==6.26.0
gradio-pdf-redaction<=0.0.25
gradio_image_annotation_redaction==0.7.1 # Custom annotator version with rotation, zoom, labels, and box IDs
spaces

# --- AWS Lambda runtime ---
awslambdaric<=4.0.2

# --- Document generation ---
python-docx<=1.2.0

# --- Testing ---
pytest<=9.0.3
pytest-cov<=7.1.0

# --- LLM libraries ---
google-genai<=2.20.0
openai<=3.7.0