pdfminer.six==20250506
pdf2image==1.17.0
pymupdf==1.26.4
opencv-python==4.12.0.88
presidio_analyzer==2.2.360
presidio_anonymizer==2.2.360
presidio-image-redactor==0.0.57
pikepdf==9.11.0
pandas==2.3.3
scikit-learn==1.7.2
spacy==3.8.7
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0.tar.gz
gradio==5.49.1
polars==1.33.1
boto3==1.40.57
pyarrow==21.0.0
openpyxl==3.1.5
Faker==37.8.0
python-levenshtein==0.27.1
spaczz==0.6.1
https://github.com/seanpedrick-case/gradio_image_annotator/releases/download/v0.3.3/gradio_image_annotation-0.3.3-py3-none-any.whl # This version includes rotation, image zoom, and default labels, as well as the option to include id for annotation boxes
rapidfuzz==3.14.1
python-dotenv==1.0.1
awslambdaric==3.1.1
python-docx==1.2.0
defusedxml==0.7.1
# Test dependencies
pytest>=7.0.0
pytest-cov>=4.0.0
spaces==0.42.1





