pdfminer.six==20231228
pdf2image==1.17.0
pymupdf==1.24.10
opencv-python==4.10.0.84
presidio_analyzer==2.2.355
presidio_anonymizer==2.2.355
presidio-image-redactor==0.0.53
pikepdf==8.15.1
pandas==2.2.3
nltk==3.9.1
scikit-learn==1.5.2
spacy==3.8.3
#en_core_web_lg @ https://github.com/explosion/spacy-#models/releases/download/en_core_web_lg-3.8.0/en_core_web_sm-#3.8.0.tar.gz
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
gradio==5.12.0
boto3==1.35.83
pyarrow==18.1.0
openpyxl==3.1.2
Faker==22.2.0
python-levenshtein==0.26.1
spaczz==0.6.1
gradio_image_annotation==0.2.5
numpy==1.26.4
awslambdaric==3.0.0



